h1 {
  font-size: 40px;
  text-align: center;
  color: #b77900;
}

h2 {
  font-size: 30px;
}

form {
  font-size: 25px;
}


#comment_box {
  margin-left: 20px;
  height: 100px;
  width: 400px;
}

#name_box {
  height: 30px;
  margin-left: 60px;
  width: 400px;
}

#submit_button {
  height: 90px;
  width: 100px;
  font-size: 25px;
  cursor: pointer;
}
#comments {
  border-top: 1px solid black;
  font-size: 25px;
  position: relative;
  padding: 20px;
}

td {
  text-align: center;
  width: 300px;
  border: 1px solid black;
}

#refresh {
  cursor: pointer;
  color: green;
}