.container {
  display: flex;
  margin: 20px;
}

.aside {
  font-size: 23px;
  line-height: 40px;
  margin: 50px;
}

.main_img {
  border: 1px solid black;
  width: 60%;
  height: 60%;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

h1 {
  text-align: center;
  color: #b77900;
}